* {
	margin: 0;
	box-sizing:initial;
	font-family:Georgia, 'Times New Roman', Times, serif, sans-serif;
}

body {
	display:-moz-marker;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background:orchid;
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 75px;
	font-weight: 300;
	color:blue;
	text-align: center;
	margin-bottom: 1rem;
}

#new-task-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color:#17d0f5;
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color:black;
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: black;
}

#new-task-submit {
	color: black;
	font-size: 1.25rem;
	font-weight: 700;
	color: rgb(21, 20, 20);
	cursor: pointer;
	transition: 0.4s;
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: black;
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color:deeppink;
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: white;
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	color: rgb(21, 20, 20);
}

.task .actions .delete {
	color: rgb(21, 20, 20);
}